table {
  width: 100%;

  .mat-sucess {
    background-color: green;
    color: white;
  }
  
  mat-list {
    mat-list-item {
      height: initial;
      margin-top: 8px;
  
   
     
      
    }
    h5 {
      font-size: 12px;
      color: #2e2e2e;
      margin: 0;
      padding: 5px 0 0;
      background: transparent;
    }
    .vaccine-age {
      color: #c20505;
      font-size: 11px;
      text-transform: capitalize;
    }
    .vaccine-fee {
          color:mediumslateblue;
      }
      .center-name {
        color:#002060;
        font-size: unset;
    }
    .main-addr {
      color:#998fa2;
  }
  }
}

.example-card {
  margin: 13px 0px 50px 0px;
  color: #002060;
  min-height: 80%;

  .mat-card-title {
    font-size: 27px;
  }

  .mat-tabs {
    width: 50em;
    padding: 0px 210px;
  }
  .mat-card-actions {
    margin-left: -8px;
    margin-right: -8px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
}
}

.filter-section {
  padding: 19px 24px 2px;
  text-align: left;
  h5 {
    text-align: left;
    padding: 0;
  }
    .search-title {
      font-size: 20px;
      font-weight: 600;
      color: #002060;
      .center-count {
        font-size: 12px;
        color: #998fa2;
      }
    }
    .show-result{
      margin: 10px 0;
      display: flex;
      .show-result__text{
        font-size: 12px;
        color: #998fa2;
        font-weight: 500;
        margin-right: 10px;
        ul {
          li{
            .label-search{
              font-weight: 600;
            }
          }
        }
      }
    }
    .filter-result {
      margin: 10px 0;
    display: flex;
    align-items: flex-end;
    .filter-result__text{
      font-size: 12px;
    color: #2e2e2e;
    font-weight: 500;
    margin-right: 10px;
    min-width: 108px;
 
    }
    ul{
      display: flex;
margin: 0;
padding: 0;
list-style: none;
li {
  padding: 0 20px;
    border-left: 1px solid #ddd;
 p{
   font-size: 14px;
font-weight: 500;
color: #002060;
margin-bottom: 5px;
 }
 .agefilterblock{
   float: left;
   margin-bottom: 10px;
   margin-top: -10px;
   font-size: 14px;
   margin-left: 0;
   .form-check {
     padding-right: 7px;
     padding-left: 0;
     display: inline-block;
     // float: left;
     .chk-btn {
      opacity: 0;
      position: absolute;
      top: 10px;
     }
     input.chk-btn:checked + label {
      background: #002060;
      color: #fff;
  }
     label{
      border: 1px solid #002060;
      background: #fff;
      padding: 5px;
      cursor: pointer;
      border-radius: 5px;
      color: #002060;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 14px;
      display: inline-block;
     }
   }
 }
}
}
    }
  

}


